<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%.Title%}</title>
    <link rel="stylesheet" href="{%.BaseUrl%}assets/fonts/zondicon-icomoon/style.css">
    <link rel="stylesheet" href="{%.BaseUrl%}assets/fonts/ibm-sans/ibm-sans.css">
    <link rel="stylesheet" href="{%.BaseUrl%}assets/vendor/bootstrap/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="{%.BaseUrl%}assets/css/error.css">
    <!-- core:css -->
   
    <link rel="shortcut icon" href="{%.BaseUrl%}assets/img/favicon.png" />
</head>

<body>
    <div class="main-wrapper">
        <div class="page-wrapper full-page">
            <div class="page-content d-flex align-items-center justify-content-center">

                <div class="row w-100 mx-0 auth-page">
                    <div class="col-md-8 col-xl-6 mx-auto d-flex flex-column align-items-center">
                        <img src="{%.BaseUrl%}assets/img/404.svg" class="img-fluid mb-2" alt="404">
                        <h1 class="font-weight-bold mb-22 mt-2 tx-80 text-muted">404</h1>
                        <h4 class="mb-2">Oopps!! Halaman tidak ditemukan.</h4>
                        <a href="/" class="btn btn-primary">Back to home</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- core:js -->
    <script src="{%.BaseUrl%}assets/js/error.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- custom js for this page -->
    <!-- end custom js for this page -->
</body>

</html>